@font-face {
    font-family: "Inter";
    src: url("../font/Inter-VariableFont_slnt\,wght.ttf");
}

.main_container {
    position: relative;
}

.content {
    width: 84%;
    height: 100vh;
    margin-left: 239px;
    position: absolute;
    background-color: rgba(250, 251, 252, 1);
}

#link {
    text-decoration: none;
    color:black;
}

#link:hover {
    text-decoration: underline;
    transition: 3s;
}

.status_bar {
    width: 241px;
    height: 100%;
    padding: 10px;
    border-right: 2px solid  rgba(231, 234, 238, 1);
}

.done {
  width: 200px;
  height: 130px;
  background-color: rgba(39, 189, 104, 0.1);
  border: rgba(39, 189, 104, 0.5) solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.icon_and_time {
  display: flex;
  align-items: center;
}
.time {
  margin-left: 65%;
  color: rgba(22, 44, 67, 0.7);
}
#shag {
  color: rgba(22, 44, 67, 0.7);
  padding: 2.5px 0;
  margin-top: 3px;
}
#out {
  margin-bottom: 5px;
  font-family: "Inter";
  font-size: 14px;
  margin-top: 3px;
}
#res_stat_bar {
  width: 120px;
  background-color: rgba(39, 189, 104, 1);
  padding: 2px 10px;
  border-radius: 5px;
  font-family: "Inter";
  text-align: center;
  margin-top: 8px;
  color: #fff;
}

.errors {
  width: 200px;
  height: 130px;
  margin-top: 5px;
  background-color: rgba(246, 85, 95, 0.1);
  border: rgba(246, 85, 95, 0.5) solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

#res_stat_bar_errors{
  width: 100px;
  background-color: rgba(246, 85, 95, 1);
  padding: 2px 10px;
  border-radius: 5px;
  text-align: center;
  font-family: "Inter";
  margin-top: 8px;
  color: #fff;
}

.works {
  width: 200px;
  height: 130px;
  margin-top: 5px;
  background-color: rgba(85, 111, 246, 0.1);
  border: rgba(85, 111, 246, 0.5) solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

#res_stat_bar_works{
  width: 100px;
  background-color: rgba(85, 111, 246, 1);
  padding: 2px 10px;
  border-radius: 5px;
  font-family: "Inter";
  text-align: center;
  margin-top: 8px;
  color: #fff;
}

.cancellation {
  width: 200px;
  height: 130px;
  margin-top: 5px;
  background-color:  rgba(246, 172, 85, 0.1);
  border: rgba(246, 172, 85, 0.5) solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

#res_stat_bar_cancellation{
  width: 100px;
  background-color: rgba(246, 172, 85, 1);
  padding: 2px 10px;
  border-radius: 5px;
  text-align: center;
  font-family: "Inter";
  margin-top: 8px;
  color: #fff;
}

.expectation {
  width: 200px;
  height: 130px;
  margin-top: 5px;
  background-color:  rgba(146, 147, 171, 0.1);
  border: rgba(146, 147, 171, 0.5) solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

#res_stat_bar_expectation{
  width: 100px;
  background-color: rgba(146, 147, 171, 1);
  padding: 2px 10px;
  border-radius: 5px;
  text-align: center;
  font-family: "Inter";
  margin-top: 8px;
  color: #fff;
}

.block_ditail {
    position: absolute;
    top: 15px;
    margin-left: 270px;    
}

.process {
    display: flex;
    font-family: "Inter";
}

.process svg {
    margin-top: 2px;
    margin-right: 10px;
}

.process p {
    color: rgba(146, 147, 171, 1);
    margin-right: 10px;
    font-size: 13px;
}
.process p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.name_client {
    margin-top: 20px;
    display: flex;
}

.name_client h2 {
    font-size: 32px;
    font-family: "Inter";
}

.name_client svg {
    margin-top: 6px;
    margin-right: 15px;
}

.hed_detail {
    display: flex;
    margin-right: 10px;
}

.hed_detail h2 {
    font-family: "Inter";
}

.custon_btn {
    position: absolute;
    right: 0;
}

.custon_btn {
    width: 36px;
    height: 36px;
    border: 1px solid rgba(146, 147, 171, 0.5);
    background-color: #fff;
    border-radius: 250px;
    cursor: pointer;
}

.custon_btn:hover {
    background-color: rgba(146, 147, 171, 0.1);
}