*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter-VariableFont_slnt\,wght.ttf");
}


.content {
    width: 84%;
    height: 100vh;
    margin-left: 239px;
    position: absolute;
    background-color: rgba(250, 251, 252, 1);
}
.header {
    padding: 15px;
}

.header p {
    color: rgba(146, 147, 171, 1);
    font-size: 12px;
    font-family: "Inter";
}

.header p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header h2 {
    font-family: "Inter";
    font-size: 32px;
}




.email_info {
    width: 95%;    
    display: flex;
    position: relative;
    padding: 2px 8px 0 8px;
    margin: 15px;
    background-color:rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 1px solid rgba(146, 147, 171, 0.5);
}

.icon {
    margin: 3px 0;
}

.client_name {
    margin: 5px 15px;
    height: 20px;
    padding: 1px 5px 0 5px;
    border-radius: 10px;
    background-color: rgba(146, 147, 171, 1);
}
.client_name p {
    color: #fff;
    font-family: "Inter";
    font-size: 15px;
}

.style_and_position {
    margin: 7px 15px;
    font-family: "Inter";
}
.name_and_date p {
    font-family: "Inter";
}

.right_info {
    right: 0;
    position: absolute;
    display: flex;
}

.time {
    width: 45px;
} 


.email_info_clik {
    text-decoration: none;
    color: black;
}

.email_info:hover {
    background-color: rgba(230, 230, 234, 0.5);
    transition: 0.3s;
}