#row {
    width: inherit;
    height: max-content;
    display: flex;
    gap: 10px;
}

.selected,
.name,
.public-key,
.status,
.description,
.process,
.action {
    height: max-content;
}

.selected-text,
.name-text,
.public-key--text,
.status-text,
.description-text,
.process-text {
    height: 17px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    color: rgba(22, 44, 67, 1);
}

.selected, .name{
    cursor: pointer;
}

.selected {
    width: 60px;
    text-align: center;
    position: relative;
}

.name,
.description,
.process {
    width: 274.33px;
}

.public-key {
    width: 150px;
}

.status,
.action {
    width: 100px;
}

.selected-text {
    width: 60px;
}

.name-text {
    width: 66px;
}

.public-key--text {
    width: 121px;
}

.status-text {
    width: 48px;
}

.description-text {
    width: 68px;
}

.process-text {
    width: 71px;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
