* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: url('../font/Inter-VariableFont_slnt,wght.ttf');
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

.app {
    display: flex;
}

.main_content {
    width: max-content;
    height: max-content;
    padding: 15px;
}
